.white-text {
	color: #FFFFFF;
}

.yellow-text {
	color: #F7FE2E;
}

.red-text {
	color: #DF0101;
}

.bangersFont {
	font-family: 'Bangers', cursive;	
}

.bold-text {
	font-weight: bold;
}

.redBgColor {
	background-color: #DF0101;
}

.blackBgColor {
	background-color: #000000;
}

.black-border {
	border-color: #000000;
}

body {
	padding-top: 135px;
}

.siteDescription {
	margin-bottom: 50px;
}

.md-mar-top {
	margin-top: 24px;
}

.nav-font {
	font-size: 20px;
}
.search-font {
	font-size: 28px;
}

.lg-font {
	font-size: 48px;
}

.resultDetailsDiv {
	margin-top: 30px;
	padding: 10px;
}

.center-element {
	margin-left: auto;
	margin-right: auto;
}

.nav-spacing {
	margin-left: 4px;
	margin-top: 2px;
}